{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Alok Kumar Kaushal Resume</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'resume/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static 'resume/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'resume/css/resume.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Alok Kaushal</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'resume/img/914166.JPG' %}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Project</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Alok
          <span class="text-primary">Kaushal</span>
        </h1>
        <div class="subheading mb-5">240/2 Ambedkar Nagar, Karaundi, Varanasi, U.P. (IND)</div>
        <p class="lead mb-5">"Hello, My Name is Alok Kumar Kuashal, I am a Backend Software Developer,  with having hands on experience of 1.9 years in Python Programming Language and Django Frameworks
        in implementing MVT architecture, Well-acquainted with Data processing, Solution designing, Requirements gathering, Analysis, Knowledge about setting up Python REST API Framework using Django.
        Actively involved in developing the methods for Create, Read, Update and Delete (CRUD) in Active Record,  Experience in working with Django ORM. Good Understanding of OPP's concept. I had Completed my Master of Computer Application in year 2019.
        I had worked on 7 projects, 4 projects were on Python programming Language and Django Framework. 1 project on ASP.Net programming language, and 2 Projects on Php Programming Language"</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/alok-kumar-kaushal-a07402100/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/alok-kumar8765/About_me">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://gitlab.com/alok-techqware.com/my-profile">
            <i class="fab fa-gitlab"></i>
          </a>
          <a href="https://www.facebook.com/">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="http://www.youtube.com/">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <!--<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">-->
        <!--  <div class="resume-content">-->
        <!--    <h3 class="mb-0">Founder Codemy.com</h3>-->
        <!--    <div class="subheading mb-3">Codemy.com, Inc.</div>-->
        <!--    <p>Online School with over 60,000 students learning to code. Wrote, filmed, edited, and produced over 50 online video courses teaching a variety of programming technologies, including: Django, Python, Ruby on Rails, Node, Javascript, PHP, HTML, CSS, SQL, PostgreSQL, MySQL, and more...</p>-->
        <!--  </div>-->
        <!--  <div class="resume-date text-md-right">-->
        <!--    <span class="text-primary">April 2013 - Present</span>-->
        <!--  </div>-->
        <!--</div>-->

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">TechQware Technologies Pvt Ltd, Noida</h3>
            <div class="subheading mb-3">techqware.com</div>
            <p>I worked here for 1.9 years. At position of Jr. Backend Developer, where i got chance to explore and learn more in guidence of team members. I had worked on 4 Project that successfully delivered to clients before deadlines and meet the clients requirements.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2021 - May 2023</span>
          </div>
        </div>

        <!--<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">-->
        <!--  <div class="resume-content">-->
        <!--    <h3 class="mb-0">Chairman/CEO </h3>-->
        <!--    <div class="subheading mb-3">Market-Tek Enterprises, Inc.</div>-->
        <!--    <p>Created one of the Internet's earliest SEO Marketing tools, the "Submission-Spider" Search Engine Submission Tool. Software was used by over three million individuals, businesses, and governments in over forty six countries around the world.</p>-->
        <!--  </div>-->
        <!--  <div class="resume-date text-md-right">-->
        <!--    <span class="text-primary">January 1998 - March 2010</span>-->
        <!--  </div>-->
        <!--</div>-->

      <!--  <div class="resume-item d-flex flex-column flex-md-row justify-content-between">-->
      <!--    <div class="resume-content">-->
      <!--      <h3 class="mb-0">Founcer/CEO</h3>-->
      <!--      <div class="subheading mb-3">BannerClicks.com Advertising Network</div>-->
      <!--      <p>Built one of the Internet's very first Advertising Networks and sold the company to a publicly listed (Nasdaq) company at the height of the first dot-com boom of the late 90's.</p>-->
      <!--    </div>-->
      <!--    <div class="resume-date text-md-right">-->
      <!--      <span class="text-primary">October 1997 - December 1998</span>-->
      <!--    </div>-->
      <!--  </div>-->

      <!--</div>-->

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Arunachal University OF Studies</h3>
            <div class="subheading mb-3">Master of Computer Application</div>
            <!--<div class="subheading mb-3">Bachelor of Arts</div>-->
            <!--<div>Year -  2019</div>-->
            <div>Percentage -  66.5% </div>
            <p>Graduated In Three Years</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Jagatpur PG College</h3>
            <div class="subheading mb-3">Bachelor of Computer Application</div>
            <!--<div class="subheading mb-3">Bachelor of Arts</div>-->
            <!--<div>Year -  2019</div>-->
            <div>Percentage -  66.42% </div>
            <p>Graduated In Three Years</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Kendriya Vidyalaya (cbse)</h3>
            <div class="subheading mb-3">Intermediate School (12th)</div>
            <!--<div class="subheading mb-3">Bachelor of Arts</div>-->
            <!--<div>Year -  2019</div>-->
            <div>Percentage -  62.6% </div>
            <!--<p>Passed In Three Years</p>-->
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2011</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Kendriya Vidyalaya (cbse)</h3>
            <div class="subheading mb-3">High School (10th)</div>
            <!--<div class="subheading mb-3">Bachelor of Arts</div>-->
            <!--<div>Year -  2019</div>-->
            <div>Percentage -  68.4% </div>
            <!--<p>Passed In Three Years</p>-->
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2009</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <!--<li class="list-inline-item">-->
          <!--  <i class="fab fa-node-js"></i>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
          <!--  <i class="fab fa-sass"></i>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
          <!--  <i class="fab fa-less"></i>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
          <!--  <i class="fab fa-wordpress"></i>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
          <!--  <i class="fab fa-gulp"></i>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
          <!--  <i class="fab fa-grunt"></i>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
          <!--  <i class="fab fa-npm"></i>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
          <!--  <i class="fas fa-code"></i>-->
          <!--</li>-->
         <li class="list-inline-item">
            <i class="fab fa-django"></i>
         </li>
         <li class="list-inline-item">
            <i class="fab fa-docker"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-pandas"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-numpy"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-git"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-mysql"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-redis"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-aws"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Python/Django</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Ruby On Rails</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Javascript</li>
          <li>
          <li>
            <i class="fa-li fa fa-check"></i>
            MySQL/PostGRES/Sqlite/SQL</li>
          <li>
          <li>
            <i class="fa-li fa fa-check"></i>
            HTML/CSS</li>
          <!--<li>-->
          <!--  <i class="fa-li fa fa-check"></i>-->
          <!--  Video Production</li>-->
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being watching movies and webseries. My favorite genre of movie is Horror and Science Fiction.Inspite of movies, I sometimes spend time on Ganga Ghat as I am living in Varanasi a holy place, I love to visite Ghat and sit here for peace.</p>
        <p class="mb-0">I play the guitar and read in my spare time and love riding my Motorcycle. </p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Named 2021  Python Bootcamp by Udemy</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Named 2023 Python Basic Assessment by HackerRank </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <!--1<sup>st</sup>-->
            Named 2023 SQL Basic $ Advance Assessment by HackerRank</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>

            Named 2023 CSS Assessment by HackerRank</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>

            Named 2016  Hindi Typist</li>

        </ul>
      </div>
    </section>
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0"><b>1 : Title -</b>  Peppermynt</h3>
            <div class="subheading mb-3">
                <b>Technology: -</b> Django Framework, sendgrid, 2FactorSMS, rest
                                api, swagger, jinja template, sqlite3, Python, Twilio,
                                PostmanTechnology: - Django Framework, sendgrid, 2FactorSMS,
                                rest api, swagger, jinja template, sqlite3, Python, Twilio,
                                Postman.
            </div>
            <div>
                <b>Team : - 5</b><br>
                <b>Detail : - </b>This Project was on restaurant , cinema, hotel booking
                    concept, where my role was to handel admin side feature and make it
                    user friendly UI, so the owner/admin can go through this admin side,
                    and at same time i was making django rest api’s for ios and android
                    frontend side. User can book hotel, restaurant, cinema through their
                    phone.<br>

                <b>Live Link: - </b> <a href='https://peppermynt.ai/'>https://peppermynt.ai/</a>
            </div>
            <!--<p>Passed In Three Years</p>-->
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2023</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0"><b>2 : Title -</b>  HDFC Women’s Days</h3>
            <div class="subheading mb-3">
                <b>Technology: -</b> Django Framework, sendgrid, twilio whatsapp, PIL,
                                    2factor sms, jinja template, Mysql , sqlite3.
            </div>
            <div>
                <b>Team : - 3</b><br>
                <b>Detail : - </b>This Project was dedicated to Women’s by HDFC BANK, in this
                                project users have to upload their photos and their Mosaic
                                Image will be generated, they can share this image and
                                download this image, and we can save user details like ip
                                address, location whom they send this image.This App was live on server for few weeks for bank promotion Purpose.<br>

                <b>Live Link: - </b> <a href='https://salaamdilsey-iwd.in/'>https://salaamdilsey-iwd.in/</a>
            </div>
            <!--<p>Passed In Three Years</p>-->
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2023</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0"><b>3 : Title -</b>  Techqware Website Update</h3>
            <div class="subheading mb-3">
                <b>Technology: -</b> Django Framework, sendgrid, jinja template, MySql.
            </div>
            <div>
                <b>Team : - 3</b><br>
                <b>Detail : - </b>This project was initially designed in wordpress, but later on we
                                    have to make this website in django framework and make this
                                    project dynamic, where admin post new jobs and user can apply
                                    for job and many more features<br>

                <b>Live Link: - </b> <a href='https://techqware.com/'>https://techqware.com/</a>
            </div>
            <!--<p>Passed In Three Years</p>-->
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Dec 2022</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0"><b>4 : Title -</b>  BION</h3>
            <div class="subheading mb-3">
                <b>Technology: -</b> Django Framework, sendgrid, jinja template, sqlite3/MySql.
            </div>
            <div>
                <b>Team : - 4</b><br>
                <b>Detail : - </b>This project was ecommerce app based on china company, in this
                                Project, user can visit on website and can see the project and if
                                they interested to buy they can send query where team member can
                                Schedule time and location according to user and they give demo of
                                the product,every user has ther qr-code at time of registration
                                and sales team have to scan that qr code after client meet.<br>

                <b>Live Link: - </b> <a href='https://bion-technology.com.sg/'>https://bion-technology.com.sg/</a>
            </div>
            <!--<p>Passed In Three Years</p>-->
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Aug 2022</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0"><b>5 : Title -</b>  LearningGem - (E-Learning)</h3>
            <div class="subheading mb-3">
                <b>Technology: -</b>Python, Django, Django REST Framework, Celery, Django Channels,
MYSQL, Celery, Django Signals, Swagger Documentation, Stripe.,
sendgrid, twilio, sqlite3.
            </div>
            <div>
                <b>Team : - 4</b><br>
                <b>Detail : - </b>LearningGem is an E-Learning Platform. This platform is advanced and
                                has top-notch features like user progress tracking and download
                                certificates, panels like Teacher Panel, in which teachers upload their
                                courses and video or certificates, and second is user panel in which
                                users create a profile and purchase a course and start learning. and after
                                completing the course students get certificates.<br>

                <!--<b>Live Link: - </b> <a href='https://bion-technology.com.sg/'>https://bion-technology.com.sg/</a>-->
            </div>
            <!--<p>Passed In Three Years</p>-->
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Aug 2022</span>
          </div>
        </div>
      </div>
    </section>


  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'resume/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'resume/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'resume/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'resume/js/resume.min.js' %}"></script>

</body>

</html>
